@using InvoiceGenerator.Dto;
@using InvoiceGenerator.Dto;
@model IEnumerable<ServiceRenderDto>;
@{
	ViewData["Title"] = "Services";
	var i = 0;
	var totalDrugs = Model.Count();

}

<div class="container mt-4">
	<h2 class="mb-4">Total Services Available: <span class="badge bg-primary">@totalDrugs</span></h2>
	<a asp-controller="Service" asp-action="CreateService" class="btn btn-info btn-sm">CreateNewService</a>

	<table class="table table-striped table-bordered">
		<thead class="table-light">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col" class="text-center">Actions</th>

			</tr>
		</thead>
		<tbody>
			@if (Model.Any())
			{
				foreach (var item in Model)
				{
					i++;
					<tr>
						<th scope="row">@i</th>
						<td>@item.Name</td>
						<td class="text-center">
							<a asp-controller="Service" asp-action="ServiceDetail" asp-route-id="@item.Id" class="btn btn-sm btn-success">
								<i class="fas fa-edit"></i> Details
							</a>
							<a asp-controller="Service" asp-action="DeleteService" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
						</td>
					</tr>
				}
			}
			else
			{
				<tr>
					<td colspan="7" class="text-center">
						<h5>No Service Created Yet.</h5>

					</td>
				</tr>
			}
		</tbody>
	</table>
	<a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-sm">Back To Home </a>
	<div class="text-end">
	</div>
</div>
